extends layout
block content
  div.container
    div#messages.row
    div.row
      div.col-md-12
        div#chat(style='display:none;')
          form(action='')
            input#m(autocomplete='off')
            button send
        div#login
          input#user
          input(type='button', value='enviar', onclick='userLogin();')
